@use "../../partials/colors" as *;

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $surface;

    @media (min-width: 933px) {
        flex-direction: column;
        gap: 1.5rem;
    }
}

.brand-container {
    h2 {
        font-family: "Dancing Script", cursive;
        font-weight: 700;
        color: $on-surface;
        font-size: 1.625rem;
        margin: 0;

        @media (min-width: 540px) {
            font-size: 2.25rem;
        }

        @media (min-width: 933px) {
            font-size: 3.75rem;
        }
    }
}

.nav-links-container {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1.5rem;
    }

    .nav-links-mobile {
        @media (min-width: 933px) {
            display: none;
        }
    }

    .nav-links-desktop {
        display: none;

        @media (min-width: 933px) {
            display: flex;
        }
    }
}

.navbar-link {
    text-decoration: none;
    color: $on-surface;
    font-size: 1.25rem; // 20px
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;

    &:focus-visible {
        outline: 2px solid $primary-dim;
        outline-offset: 4px;
        border-radius: 4px;
    }

    &:hover {
        color: $primary;
    }

    &.active {
        color: $primary-dim;
        border-bottom: 2px solid $primary-dim;
    }
}